@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;500;700&display=swap");
/*{
    border: red solid 1px;
}*/
body {
  margin: 0;
}
.container {
  width: 50%;
  margin: 40px auto 40px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: red solid 1px;
}
.buttons {
  align-self: flex-start;
  display: flex;
  gap: 20px;
}
.google-btn {
  background-color: rgb(35, 128, 229);
  border: none;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 2px;
  cursor: pointer;
}
.google-btn picture {
  width: 35px;
  height: 35px;
  background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  display: flex;
}
.google-btn picture img {
  padding: 5px;
}
.google-btn span {
  color: white;
  padding: 12px;
  font-weight: 500;
}
.twitter-btn {
  color: #bbb;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 2px;
  cursor: pointer;
}
.twitter-btn picture {
  width: 35px;
  height: 35px;
  display: flex;
}
.twitter-btn picture img {
  padding: 5px;
}
.twitter-btn:hover {
  background-color: #ddd;
}
.separator {
  display: flex;
  width: 100%;
  gap: 15px;
}
.separator hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}
.separator span {
  color: #8b8b8b;
}
form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1px;
  border: blue solid 1px;
}
.half{
  display: flex;
  flex-direction: row;
  gap: 15px;
  border: yellow solid 1px;
}
.inputs{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: green solid 1px;
}
.inputs span {
  font-weight: 700;
}
.inputs input{
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 250ms, box-shadow 250ms;
}
.inputs input:hover{
    background-color: white;
    border: #f3f3f4 solid 1px;
    box-shadow: 0 0 4px #ea62fc4f; 
}
.inputs input:focus{
    background-color: white;
    border: #f3f3f4 solid 1px;
    box-shadow: 0 0 4px #eb50ff8d; 
}
.checkbox-label{
    display: flex;
    flex-direction: row;
    border: purple solid 1px;
}
.checkbox-label span{
    font-weight: 400;
    color: #6e6d7a;
    padding-left: 75px;
}
.checkbox-label input{
  width: 25px;
}
.submit-btn {
  background-color: #ea4c89;
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
.submit-btn:hover {
  opacity: 0.75;
}
